<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projetos</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
      <h1>Novo Projeto</h1>
    </div>
      <div class="row">
        <div class="col-md-12">
        <form action="create" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="projectTitle">Título</label>
            <input name="title" type="text" class="form-control" id="projectTitle" placeholder="Título">
          </div>
          <div class="form-group">
            <label for="projectImage">Imagem</label> <br>
            <input name="image" type="file"  id="projectImage" placeholder="Imagem">
          </div>
          <div class="form-group">
            <label for="projectDescription">Descrição</label>
            <textarea name="description" type="text" class="form-control" id="ProjectDescription" placeholder=""></textarea>
          </div>
          <div class="form-group">
              <label for="postBody">Corpo do Projeto</label>
              <textarea name="projectBody" type="text" class="form-control" id="postBody" placeholder=""></textarea>
            </div>
          
          <button type="submit" class="btn btn-danger">Salvar</button>
          
        </form>
        </div>
      </div>
  </div>
  
  <%- include('../../footer'); -%>
</body>
</html>