<!DOCTYPE html>
<html>
  <head>
    <title><%= products.title %></title>
    <%- include('imports'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>

    <div class="container">
      <div class="row">

        <% products.forEach((product) => { %>
          <%- include('products-card', { products: products }); -%>
        <% }); %>

      </div>
    </div>
    <%- include('footer'); -%>
  </body>
</html>