
<link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/jquery/jquery-3.4.1.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap.js"></script>

