<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>
    
    <div class=" container">
      <div class="row">
        <% posts.forEach((post) => { %>
          <%- include('post_card', { post: post }); -%>
        <% }); %>
      </div>
    </div>
    <div>
        <%- include('footer'); -%>
    </div>
  </body>
  
</html>