
<nav class="top navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="40" height="40" alt="">
      Metin 2 Wiki
    </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="menu-superior">
    <div class="collapse row navbar-collapse text-white "  id="navbarNav">
      <ul class="navbar-nav ">
        <li class=" nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/executives">Equipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">Loja</a>
        </li>
        <li class="dropdown nav-item">
          <a class="nav-link dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administração
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/admin/posts">Posts</a>
            <a class="dropdown-item" href="/Admin/projects">Projetos</a>
            <a class="dropdown-item" href="/admin/shop">Produtos</a>
          </div>
        </li>     
      </ul>
      
      <% if (locals.loggedUser) { %>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= locals.loggedUser.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/auth/logout">Sair</a>
                </div>
            </li>
        </ul>
      <% } %> 
    </div>
  </div>
</nav>