<div class="card" style="width: 18rem;">
  <img src="<%= `/images/${post.image}` %>" class="rounded" alt="50px">
  <div class="card-body">
    <h5 class="card-title">
      <%= post.title %>
    </h5>
    <p class="card-text">
      <%= post.description %>
    </p>
    <a href="/posts/<%= post.id %>" class="btn btn-primary">Ler mais</a>
  </div>
</div> 