<div class="card" style="width: 22rem;">
  <img src="<%= `/images/${products.image}` %>" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">
        <%= products.title %><br>
        <%= products.description %>
        
    </h5>
    <p class="card-text">
      
        
       
    <a href="/shop/<%= products.id %>" class="btn btn-primary">ver descrição</a>
    <a href="/shop/" class="btn btn-success">Adicionar ao carrinho</a>


  </div>
  
</div> 