<div class="card" style="width: 18rem;">
  <img src="<%= `/images/${projects.image}` %>" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">
      <%= projects.title %>
    </h5>
    <p class="card-text">
      <%= projects.description %>
    </p>
    <a href="/projects/<%= projects.id %>" class="btn btn-primary">Ler mais</a>
  </div>
  
</div> 