.post-detail img {
  width: 300px;
  display: flex;
  flex-direction: row;
}

.post-detail h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.post-detail {
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.card {
  margin-top: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  
}
.top {
  background-color: rgb(138, 19, 29);
  color: aliceblue;
}

.executives {
  margin-top: 7rem;
  text-align: center;
  border-color: black;
  width: 61rem;
  border-style: groove;
  background-color: rgb(227, 228, 228);
  margin-bottom: 2rem;
}


.container {
  justify-content: center;
  margin-top: 7rem;

}

.menu-superior {
padding-left: 2rem;
}

.menu-superior .collapse .navbar-nav .nav-item {
  padding-left: 1rem;
  font-size: 20px;
}

.footer {
  background-color: rgb(138, 19, 29);
  color: aliceblue;
  justify-content: center;
  color: black;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 5px;
  margin-top: 3rem ;
}
