<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
      <h1>Novo Post</h1>
    </div>
      <div class="row">
        <div class="col-md-12">
        <form action="create" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="PostTitle">Título</label>
            <input name="title" type="text" class="form-control" id="PostTitle" placeholder="Título">
          </div>
          <div class="form-group">
            <label for="postImage">Imagem</label><br>
            <input name="image" type="file"  id="PostImage" placeholder="Imagem">
          </div>
          <div class="form-group">
            <label for="postDescription">Descrição</label>
            <textarea name="description" type="text" class="form-control" id="PostDescription" placeholder=""></textarea>
          </div>
          <div class="form-group">
              <label for="postBody">Corpo do Post</label>
              <textarea name="postBody" type="text" class="form-control" id="postBody" placeholder=""></textarea>
            </div>
          
          <button type="submit" class="btn btn-danger">Salvar</button>
          
        </form>
        </div>
      </div>
  </div>
  <%- include('../../footer'); -%>
</body>
</html>