<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro produtos</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
      <h1>Novo Produto</h1>
    </div>
      <div class="row">
        <div class="col-md-12">
        <form action="create" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="productTitle">Título</label>
            <input name="title" type="text" class="form-control" id="productTitle" placeholder="Título">
          </div>
          <div class="form-group">
            <label for="productImage">Imagem</label> <br>
            <input name="image" type="file"  id="productImage" placeholder="Imagem">
          </div>
          <div class="form-group">
            <label for="productDescription">Descrição</label>
            <textarea name="description" type="text" class="form-control" id="productDescription" placeholder=""></textarea>
          </div>
          <div class="form-group">
              <label for="postBody">Corpo do Projeto</label>
              <textarea name="productBody" type="text" class="form-control" id="productBody" placeholder=""></textarea>
            </div>
          
          <button type="submit" class="btn btn-danger">Salvar</button>
          
        </form>
        </div>
      </div>
  </div>
  
  <%- include('../../footer'); -%>
</body>
</html>