<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <%- include('../../imports'); -%>
</head>
<body>
    <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
        <h1>Administração dos Produtos</h1>
    </div>
    <div class="row mb-2">
        <a href="/admin/shop/create" class="btn btn-success">Novo Produto</a>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Título</th> 
              </tr>
            </thead>
            <tbody>
              <% products.forEach((product) => { %>
                <tr>
                  <td><%= products.id %></td>
                  <td><%= products.title %></td>
                </tr>
              <% }); %>
                  
            </tbody>
          </table>
    </div>
  </div>
  <%- include('../../footer'); -%>
</body>
</html>